<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Test-Suite" >
	<listeners>
		<listener class-name="Utility.ListenerTest" />
	</listeners>
   <test name="Selenium_Assignment" >
       <classes> 
           <class name="com.test.Scenario1_AddItem" />
           <class name="com.test.Scenario2_AddRemoveItem" />
           <class name="com.test.Scenario3_SortingItem" />
       </classes>
   </test>
  </suite>
 